.view-wrap {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.view-header {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #0B4F6C50; }
  .view-header h2 {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px; }
  .view-header div {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.edit {
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 4px;
  background: #145C9E;
  color: white;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.3s;
  font-size: 10pt; }
  .edit:hover {
    background: #3E79AF; }

.delete {
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 4px;
  background: #D8315B;
  color: white;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.3s;
  font-size: 10pt; }
  .delete:hover {
    background: #DF5678; }

.back {
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 4px;
  background: grey;
  color: white;
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.3s;
  font-size: 10pt; }
  .back:hover {
    background: #999999; }

.view-body {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.edit-modal {
  width: 95vw;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000030;
  display: flex;
  justify-content: center;
  align-items: center; }

.edit-modal-body {
  width: 40vw;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  z-index: inherit;
  border-radius: 5px;
  padding: 10px 0px 10px 0px; }
  .edit-modal-body h3 {
    margin: 0; }
  .edit-modal-body p {
    margin: 0; }
  .edit-modal-body input {
    width: 30vw;
    height: 25px;
    padding: 5px;
    font-size: 10pt;
    outline: none;
    border-radius: 4px;
    border: solid 1px lightgrey; }
    .edit-modal-body input:focus {
      border: solid 1px #145C9E; }
  .edit-modal-body div {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .edit-modal-body .edit-cancel-btn {
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background: grey;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.3s; }
    .edit-modal-body .edit-cancel-btn:hover {
      background: #999999; }
  .edit-modal-body .submit-btn {
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background: #145C9E;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.3s; }
    .edit-modal-body .submit-btn:hover {
      background: #3E79AF; }

.delete-modal {
  width: 95vw;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000030;
  display: flex;
  justify-content: center;
  align-items: center; }

.delete-modal-body {
  width: 40vw;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: inherit;
  border-radius: 5px; }
  .delete-modal-body h3 {
    margin: 0;
    margin-bottom: 15px; }
  .delete-modal-body div {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .delete-modal-body .cancel-btn {
    width: 80px;
    height: 35px;
    border: none;
    background: grey;
    color: white;
    font-size: 10pt;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    outline: none; }
    .delete-modal-body .cancel-btn:hover {
      background: #999999; }
  .delete-modal-body .delete-btn {
    width: 80px;
    height: 35px;
    border: none;
    background: #D8315B;
    color: white;
    font-size: 10pt;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    outline: none; }
    .delete-modal-body .delete-btn:hover {
      background: #DF5678; }
